{% extends 'layout.twig' %}

{% block body %}
    {% include "flash.twig" %}
      <h1>{{page.title}}</h1>
      <p>Bonjour {{ connectedUser.prenom }} {{ connectedUser.nom }} </p>
    <br>
    <table class="table table-hover">
        <tr> <td>test </td></tr>

        {% for debt in dbtList %}
            <tr>

                <td>a </td>
            </tr>
        {% endfor %}




    </table>



{% endblock %}
