<!-- MODAL NEW DETTE -->
<div class="modal fade" id="modalNewDette" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouvelle dette</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/addDebt" class="form-group">
                <div class="modal-body">
                    <label for="newDebtDescription">Description : </label>
                    <div class="input-group">
                        <input type="text" placeholder="Description" name="newDebtDescription" id="newDebtDescription" required class="form-control">
                    </div>
                    <label for="newDebtAmmount">Montant : </label>
                    <div class="input-group">
                        <input type="number" id="newDebtAmmount" name="newDebtAmmount" class="form-control" required>
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">€</span>
                        </div>
                    </div>
                    <label for="newDebtOtherUser">Utilisateur concerné : </label>
                    <div class="input-group">
                        <select name="newDebtOtherUser" id="newDebtOtherUser" class="form-control" required>
                            <option value="-1">Choisir un ami ...</option>
                            {% include 'optionUserForDebt.twig' %}
                        </select>
                    </div>

                    <label for="newDebtAntidate">Voulez-vous anti-dater la dette ?</label>
                    <input type="checkbox" name="newDebtAntidate" id="newDebtAntidate">

                    <div id="ifAndtidateTrue" style="display: none">
                        <label for=""
                        <input type="datetime-local" name="newDebtDate" id="newDebtDate" class="form-control">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- MODAL NEW REMBOURSEMENT -->
<div class="modal fade" id="modalRemboursement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un remboursement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                New remboursement
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL HISTORIQUE -->
<div class="modal fade" id="modalHistorique" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalHistoriqueTitle">Détail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalHistoriqueBody">
                Détail
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>